:root{
    --font-body-scale: 1;
    --font-heading-scale: 1;
    --page-width: 120rem;
    
    
    
    --color-background: rgb(255,255,255);
    
}


html{
    font-size: calc(var(--font-body-scale) * 62.5%);
}


/* || UTILITY BAR */
