
.cart {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-3xl);
    align-items: start;
    @media screen and (width >= 850px) {
        flex-wrap: nowrap;

    }
    @media screen and (width >= 1024px) {
        gap: var(--gap-3xl);
    }
}

.cart-items {
    flex: 1 1 100%;
    @media screen and (width >= 850px) {
        flex: 1 1 auto;
        max-width: 50%;
    }
}

.cart-items .price__current {
    font-size: 1em;
}

.cart-items .price__was {
    font-size: .8em;
}

.cart-item {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: var(--gap-xl);
    row-gap: var(--gap-sm);
    padding-block-end: var(--padding-lg);
    border-bottom: 1px solid rgb(var(--color-foreground-rgb), .2);

    @media screen and (width >= 850px) {
        grid-template-columns: 88px 1fr auto;

    }
}

.cart-item:not(:first-child) {
    padding-block-start: var(--padding-3xl);
}


.cart-item__image img {
    aspect-ratio: 1;
    object-fit: cover;
}

.cart-item :is(.cart-item__image) {
    padding: 0;
}


.cart-item__details {
    grid-column: 2;
}

.cart-item__quantity {
    grid-column: 2;
}

.cart-item__total {
    grid-column: 2;
    @media screen and (width >= 769px) {
        grid-column: 3;
        grid-row: 1;
    }
}

.cart-item__info {
    margin-block-start: var(--margin-sm);
}

.cart-item__remove_btn {
    display: flex;
    justify-content: center;
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}

.cart-item__remove_btn .icon {
    width: var(--icon-size-lg);
}

.cart__summary {
    margin-block-start: var(--margin-5xl);
    border: 1px solid rgb(var(--color-foreground-rgb), .1);
    flex: 1 1 100%;
    @media screen and (width >= 850px) {
        position: sticky;
        top: var(--header-end-with-padding);
        transition: top .3s;
        margin-block-start: 0;
        flex: 0 0 45%;
    }
}

