#header-group {
    display: contents;
}


.header {
    --search-bg-color: rgb(228, 228, 228); /*TODO: will be generated later on based on the bg of the header*/
    --search-modal-border-radius: 8px;
    --bg-color: rgb(211, 218, 246); 
    --nav-bg-color: rgb(211, 218, 246);
    --header-accent-color: rgb(255, 123, 43);
    --text-color: rgb(0, 0, 0);
    --icon-color-rgb: 0 0 0;
}

.header-section:has(> #header-component[sticky="always"]) {
    position: sticky;
    top: -1px; /*1. */
    z-index: var(--layer-header-menu);
}


/*
TODO:
 1. Add proper outline styles to the search input & search select, buttons etc.
 2. Deal with the appearance of the search bar when the font-size is a big value (through the settings + through the browser)
 3. Add proper Aria to the combobox and its popup + make it work with JS
 4. make the search input or something else a grid and center the absolute buttons (clear & close) relative to that grid.
 5. There's something wrong with the height of the search select (when the font-size is increased);
 on top of that, its border (the separator) also start to look ugly.
 6. Get The Aria on the search select right.
*/

.header {
    display: block;
    padding-block-start: var(--padding-sm);
    @media (width >= 769px) {
        padding-block-start: var(--padding-lg);
    }
    background-color: var(--bg-color);
}

.header__row {
    display: grid;
    align-items: center;
    grid-template-areas:
    "menu heading icons"
    "search-bar search-bar search-bar";
    grid-template-columns: max-content 1fr max-content;

    @media screen and (width >= 769px) {
        grid-template-areas:
                "heading search-bar icons"
                "menu menu menu";
        grid-template-columns: 1fr 6fr 1fr;
    }
}

.header__logo {
    grid-area: heading;
}

.header__icons {
    grid-area: icons;
}

.header__search {
    grid-area: search-bar;
    margin-block-start: var(--margin-md);
    @media (width >= 769px) {
        margin-block-start: 0;
        margin-block-end: var(--margin-md);
    }
    --overlay-color: rgb(var(--modal-overlay-color) / .4);
}

.main-menu {
    grid-area: menu;
    @media screen and (width >= 769px) {
        background-color: rgb(var(--nav-bg-color));
        color: rgb(var(--text-color));
    }
}


.search__form-input-wrapper[open="true"] {
    z-index: var(--layer-raised);
    width: 100%;
}


/*TODO: test with a Windows contrast theme*/
.search__form {
    position: relative;
    justify-content: center;
}

.search__form--with-categories {
    --category-select-width: 100px;
    --category-select-padding: 14px;

    @media (width >= 600px) {
        --category-select-width: 110px;
    }

    @media (width >= 769px) {
        --category-select-width: 110px;
        --category-select-padding: 17px;
    }

    @media (width >= 1024px) {
        --category-select-width: 170px;
        --category-select-padding: 17px;
    }

    /*todo: keep adjusting values*/
}

.search__input {
    padding-block: 11px;
    padding-inline-start: calc(var(--category-select-width) + var(--category-select-padding));
    padding-inline-end: 5.4rem;
    background: var(--search-bg-color);
    border-radius: var(--search-input-border-radius);
    @media (width >= 1024px) {
        padding-block: 12px;
    }
}

.search__form:has(.suggestion-result[open="true"]) .search__input {
    background: var(--color-background);
}

.search__input--dirty {
    padding-inline-end: 9.8rem;
}

/*.search__input:focus,
.search__input:focus-visible {
    box-shadow: 0 0 0 1px rgb(var(--color-foreground-rgb) / .6);


    outline: var(--focus-outline-width) var(--focus-outline-style) transparent;
    outline-offset: var(--focus-outline-offset);
}*/


/*SELECT BUTTON*/
.search__category-select {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--category-select-width);
}

.search__category-select .custom-select__button {
    position: relative;
    height: 100%;
    padding-inline: var(--padding-lg) var(--category-select-padding);
    border-block: 0;
    border-right: 1px solid rgb(var(--text-color-rgb) / .2);
    border-radius: var(--search-input-border-radius) 0 0 var(--search-input-border-radius);
}

/*:is(.search__input:focus,.search__input:focus-visible)
+ .search__category-select .custom-select__button {
    border-color: rgb(var(--color-foreground-rgb) / .6)
}*/

/*|| SEARCH BUTTONS*/

.search__form .field__button {
    z-index: var(--layer-raised);
}

.search__clear {
    right: 4.4rem;
}

.search__clear::after {
    position: absolute;
    content: "";
    right: 0;
    height: calc(100% - var(--icon-size-sm));
    width: .1rem;
    background-color: rgb(var(--color-foreground-rgb), .2);
}

:is(.search__submit, .search__clear) .icon {
    width: var(--icon-size-xs);
}

:is(.search__submit, .search__clear):hover > .icon {
    transform: scale(1.1);
}


.header__icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: var(--gap-sm);
}

.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
    color: rgb(var(--icon-color-rgb));
}

.header__icon .icon {
    width: var(--icon-size-xl);
}

.header__icon:hover .icon {
    transform: scale(1.07);
}


.suggestion-result {
    display: none;
    position: absolute;
    top: -3rem; /*creates the top gap above the search component*/
    padding-block-start: 7.5rem;
    /*This padding covers the search components (whose height is 4.5rem).
       We add 2rem because we're 2rem up the search component initially. */
    width: 100vw;
    left: calc(var(--page-margin) * -1);
    border-radius: var(--search-modal-border-radius);
    background-color: var(--search-bg-color);
    @media (width >= 769px) {
        top: -1.2rem;
        left: -10px;
        padding-block-start: 5.7rem;
        width: calc(100% + 20px);
    }

}

.suggestion-result[open="true"] {
    display: block;
}


.suggestion-result__group-result-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xl);
    max-height: 66vh;
    overflow: scroll;
    /* border-block-start: 1px solid rgb(var(--color-foreground-rgb) / .1);*/
    margin-block-start: var(--margin-md); /*shoves the wrapper away from where its parent meets the search bar.*/
    padding-block: var(--padding-sm);
}

.suggestion-result_group {
    flex: 1 1 auto;

    @media screen and (min-width: 769px) {
        flex: 0 0 26rem;
    }
}

.suggestion-result_group--items {
    flex: 1 1 auto;
}

.suggestion-result__heading {
    padding-block-end: var(--padding-sm);
    border-block-end: .1rem solid rgb(var(--color-foreground-rgb) / .06);
    text-transform: uppercase;
    margin-inline: var(--margin-xl);
}


.header__link { 
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.header__link:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
    text-underline-offset: .3rem;
}

.header__link.suggestion-result__item--term:hover {
    text-decoration: none;
}

.header__link--with-bg-color:hover {
    background-color: rgb(var(--color-foreground-rgb) / .04);
}


.suggestion-result__item {
    display: flex;
    width: 100%;
    padding-block: var(--padding-sm);
    padding-inline: var(--padding-xl);
}


.suggestion-result__item--with-img {
    gap: var(--gap-md);
}

.suggestion-result__item--term {
    justify-content: space-between;
    margin-block-start: var(--margin-sm);
    padding-inline: var(--padding-lg);
    padding-block: var(--padding-md);
    border-radius: 0 0 var(--search-modal-border-radius) var(--search-modal-border-radius);
    border-block-start: 1px solid rgb(var(--color-foreground-rgb) / .06);
}

.suggestion-result__img {
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}


.main-nav {
    @media screen and (min-width: 769px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-inline-start: -1.6rem;
    }
}

.main-nav__item {
    display: block;
    padding-block: var(--padding-xl);
    padding-inline: var(--padding-lg);
}

@media screen and (width >= 769px) {
    .main-nav__item.main-nav__link {
        position: relative;
        z-index: 1;
        padding-inline: 0;
        line-height: 1.2;
        padding-block: var(--padding-xs);
        display: flex;
        align-items: center;
    }
}

@media screen and (width < 769px) {
    .main-nav__item {
        width: 100%;
    }
}


.main-nav__toggle {
    @media screen and (width >= 769px) {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--minimum-field-touch-target);
        min-height: var(--minimum-field-touch-target);
        padding-block: 0;
        padding-inline: 0;
    }
}

@media screen and (width >= 769px) {
    .main-nav__toggle::before {
        content: "";
        position: absolute;
        inset: 0;
    }
}

/*Remove any space that was added because of the 4px margin by putting a -4px margin */
@media screen and (width >= 769px) {
    .main-nav__row > .main-nav__toggle {
        margin-inline-start: 4px;
        margin-inline-end: -16px;
    }
}


.main-nav__toggle .icon {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
}

.child-nav__item--toggle > .main-nav__toggle .icon-caret {
    transition: transform .2s ease-in-out;
}

.child-nav__item--toggle > .main-nav__toggle[aria-expanded="true"] .icon-caret {
    transform: rotate(180deg);
}


.main-nav__item-content {
    display: flex;
    align-items: center;
}

.main-nav__item-content:not(.main-nav__item-content--column) > span {
    margin-inline-end: auto;
}


.mega-nav--sidebar .main-nav__grandchild--grid .media-fit {
    object-fit: cover;
    aspect-ratio: 1/1;
}

/*.main-nav__child-item {
    @media screen and (width >= 769px) {
        width: 100%;
    }
}*/


@media screen and (width < 769px) {
    :is(.main-nav__item--back, .main-nav__toggle, .main-nav__link--orphan):focus-visible {
        outline-offset: -.2rem;
    }
}


/*if we apply .main-nav__item-content directly to the button or the (<a>) link,
the display: none doesn't work on either of them. However, in we nest the
..__item-content inside, there going to be some problems with underline links
*/

.main-nav__row {
    @media screen and (width >= 769px) {
        position: relative;
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-inline: 2rem;
    }
}


@media screen and (width < 769px) {
    :is(.main-nav, .child-nav) > li {
        border-block-end: 1px solid var(--nav-line-color);
    }
}


@media screen and (width < 769px) {
    .child-nav > li > .main-nav__item-content {
        display: none;
    }

}


.main-nav__link {
    display: none;
    @media screen and (width >= 769px) {
        display: block;
    }
}

.main-nav__link--orphan {
    @media screen and (width < 769px) {
        display: block;
    }
}


@media screen and (min-width: 769px) {
    .main-nav__row {
        transition: box-shadow .2s ease-in;
    }
}

@media screen and (min-width: 769px) {
    :is(.main-nav__row:hover, .main-nav__link:focus-visible) {
        box-shadow: inset 0 -2px 0 0 currentColor;
    }

}


.main-nav__item-content--column {
    align-items: start;
    flex-direction: column;
    gap: var(--gap-xs);
}


.main-nav__item--back {
    display: flex;
    align-items: center;
    color: var(--header-accent-color);
}

.main-nav__text-content {
    flex: 1;
}


.main-nav__item--back .icon-arrow {
    transform: rotate(180deg);
    margin-inline: 0 1.5rem;
}

/*Use rems for width and height? */

.main-nav__collection-image {
    width: var(--image-size, 40px);
    height: var(--image-size, 40px);
    flex-shrink: 0;
    object-fit: cover;
}

.main-nav__collection-image--circle {
    border-radius: var(--border-radius-50);
}


.mega-nav--sidebar .main-nav__grandchild-item {
    padding-block-start: 0;
}


@media screen and (width < 769px) {
    .main-nav__item--go {
        padding-block: var(--margin-sm);
    }
}

@media screen and (width < 769px) {
    .mega-nav--column li:first-child > .main-nav__grandchild-item {
        padding-block-start: 0;
    }
}

.main-nav__grandchild {
    background-color: var(--nav-bg-color);
    @media screen and (width < 769px) {
        padding-inline: var(--padding-lg);
        padding-block-end: var(--padding-2xl);
    }
}

.gallery .main-nav__grandchild-item {
    display: flex;
}


.main-nav__grandchild-item, .main-nav__item--go {
    padding-inline: 0;
    padding-block: var(--padding-xs);
    font-weight: normal;
}

.main-nav__grandchild-item {
    line-height: 1.5;
}


:is(.main-nav__grandchild-item,.main-nav__item--go) .icon-arrow {
    margin-inline: 1rem 0;
}


.main-nav__grandchild--img-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: var(--gap-xl);
    column-gap: var(--gap-xl);
}

@media screen and (width > 769px) {
    .main-nav__grandchild--img-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


@media (hover: hover) and (pointer: fine) {
    /*rea..*/
    .mega-nav--sidebar .main-nav__grandchild-item--has-image:hover .main-nav__grandchild-image {
        transform: scale(1.03);
        border-color: transparent;
    }
}

@media (hover: hover) and (pointer: fine) {
    .mega-nav--sidebar .main-nav__grandchild-item--has-image .main-nav__grandchild-image {
        transition: transform .3s cubic-bezier(.38, .41, .27, 1), border-color .4s;
        will-change: transform; /**/
    }
}



.header__cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: .75em;
    font-weight: 700;
    border-radius: var(--border-radius-50);
    background-color: var(--header-accent-color);
}

.header__cart-count span {
}


