
.text-sm {
    font-size: 0.88em;
}

.text-xs {
    font-size: 0.75em;
}

.text-body-small {
    font-size: 0.9em;
}

.text-body-large {
    font-size: 1.1em;
}

.text-body-extra_large {
    font-size: 1.2em;
}

.enlarge-text {
    font-size: 1.25em;
}

@media (min-width: 769px) {
    .enlarge-text {
        font-size: 1.5em;
    }
}

.text-regular {
    font-size: 1em;
}

.large-text {
    font-size: 2rem;
}

.font-bold {
    font-weight: 700;
}


.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: var(--space-unit);
}

.mb-10 {
    margin-bottom: calc(10 * var(--space-unit));
}

.mb-12 {
    margin-bottom: calc(12 * var(--space-unit));
}

.mb-16 {
    margin-bottom: calc(16 * var(--space-unit));
}

.mb-2 {
    margin-bottom: calc(2 * var(--space-unit));
}

.mb-3 {
    margin-bottom: calc(3 * var(--space-unit));
}

.mb-4 {
    margin-bottom: calc(4 * var(--space-unit));
}

.mb-5 {
    margin-bottom: calc(5 * var(--space-unit));
}

.mb-6 {
    margin-bottom: calc(6 * var(--space-unit));
}

.mb-8 {
    margin-bottom: calc(8 * var(--space-unit));
}

.ml-1 {
    margin-left: calc(1 * var(--space-unit));
}

.ml-2 {
    margin-left: calc(2 * var(--space-unit));
}

.ml-5 {
    margin-left: calc(5 * var(--space-unit));
}


.ml-auto {
    margin-left: auto;
}

.mr-2 {
    margin-right: calc(2 * var(--space-unit));
}

.mr-auto {
    margin-right: auto;
}

.mt-1 {
    margin-top: var(--space-unit);
}

.mt-10 {
    margin-top: calc(10 * var(--space-unit));
}

.mt-12 {
    margin-top: calc(12 * var(--space-unit));
}

.mt-16 {
    margin-top: calc(16 * var(--space-unit));
}

.mt-2 {
    margin-top: calc(2 * var(--space-unit));
}

.mt-3 {
    margin-top: calc(3 * var(--space-unit));
}

.mt-4 {
    margin-top: calc(4 * var(--space-unit));
}

.mt-5 {
    margin-top: calc(5 * var(--space-unit));
}

.mt-6 {
    margin-top: calc(6 * var(--space-unit));
}

.mt-8 {
    margin-top: calc(8 * var(--space-unit));
}

.mt-12 {
    margin-top: calc(12 * var(--space-unit));
}

.p-1 {
    padding: calc(1 * var(--space-unit));
}

.p-4 {
    padding: calc(4 * var(--space-unit));
}

.p-5 {
    padding: calc(5 * var(--space-unit));
}

.p-6 {
    padding: calc(6 * var(--space-unit));
}

.p-8 {
    padding: calc(8 * var(--space-unit));
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: var(--space-unit);
}

.pb-2 {
    padding-bottom: calc(2 * var(--space-unit));
}

.pb-3 {
    padding-bottom: calc(3 * var(--space-unit));
}

.pb-4 {
    padding-bottom: calc(4 * var(--space-unit));
}

.pb-6 {
    padding-bottom: calc(6 * var(--space-unit));
}

.pl-4 {
    padding-left: calc(4 * var(--space-unit));
}

.pl-6 {
    padding-left: calc(6 * var(--space-unit));
}

.pr-4 {
    padding-right: calc(4 * var(--space-unit));
}

.pr-6 {
    padding-right: calc(6 * var(--space-unit));
}

.pt-1 {
    padding-top: var(--space-unit);
}

.pt-2 {
    padding-top: calc(2 * var(--space-unit));
}

.pt-3 {
    padding-top: calc(3 * var(--space-unit));
}

.pt-4 {
    padding-top: calc(4 * var(--space-unit));
}

.pt-5 {
    padding-top: calc(5 * var(--space-unit));
}

.pt-6 {
    padding-top: calc(6 * var(--space-unit));
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.inline-grid {
    display: inline-grid;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.h-full {
    height: 100%;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.max-w-full {
    max-width: 100%;
}

.max-w-none {
    max-width: none;
}
.max-w-max-content{
    max-width: max-content
}



.flex-auto {
    flex: 1 1 auto;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}

.table-fixed {
    table-layout: fixed;
}

.cursor-pointer {
    cursor: pointer;
}

.fit-width {
    width: fit-content;
}

.object-fit-cover {
    object-fit: cover;
}

.pointer-events-none {
    pointer-events: none;
}

.resize {
    resize: both;
}

.list-none {
    list-style-type: none;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}


.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.inset-0 {
    inset: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.flip-x {
    scale: -1 1;
}


.gap-xl {
    gap: var(--gap-xl);
}


.gap-1 {
    gap: calc(3 * var(--space-unit));
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-full {
    grid-column: 1 / -1;
}

.col-start-1 {
    grid-column-start: 1;
}

.col-start-2 {
    grid-column-start: 2;
}

col-start-3 {
    grid-column-start: 3;
}

.col-end-3 {
    grid-column-end: 3;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.row-span-3 {
    /*https://stackoverflow.com/a/68538524/*/
    grid-row: span 3 / span 3;
}


.last\:mb-0:last-child {
    margin-bottom: 0;
}

.last\:pb-0:last-child {
    padding-bottom: 0;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auto-cols-2 {
    grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop)) / 2);
}

.gap-3xs {
    gap: var(--gap-3xs);
}

.gap-2xs {
    gap: var(--gap-2xs);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-sm {
    gap: var(--gap-sm);
}

.gap-md {
    gap: var(--gap-md);
}

.gap-lg {
    gap: var(--gap-lg);
}

.gap-xl {
    gap: var(--gap-xl);
}

.gap-2xl {
    gap: var(--gap-2xl);
}

.gap-3xl {
    gap: var(--gap-3xl);
}


.gap-x-3xs {
    column-gap: var(--gap-3xs);
}

.gap-x-2xs {
    column-gap: var(--gap-2xs);
}

.gap-x-xs {
    column-gap: var(--gap-xs);
}

.gap-x-sm {
    column-gap: var(--gap-sm);
}

.gap-x-md {
    column-gap: var(--gap-md);
}

.gap-x-lg {
    column-gap: var(--gap-lg);
}

.gap-x-xl {
    column-gap: var(--gap-xl);
}

.gap-x-2xl {
    column-gap: var(--gap-2xl);
}

.gap-x-3xl {
    column-gap: var(--gap-3xl);
}


.gap-y-3xs {
    row-gap: var(--gap-3xs);
}

.gap-y-2xs {
    row-gap: var(--gap-2xs);
}

.gap-y-xs {
    row-gap: var(--gap-xs);
}

.gap-y-sm {
    row-gap: var(--gap-sm);
}

.gap-y-md {
    row-gap: var(--gap-md);
}

.gap-y-lg {
    row-gap: var(--gap-lg);
}

.gap-y-xl {
    row-gap: var(--gap-xl);
}

.gap-y-2xl {
    row-gap: var(--gap-2xl);
}

.gap-y-3xl {
    row-gap: var(--gap-3xl);
}


.p-3xs {
    padding: var(--padding-3xs);
}

.p-2xs {
    padding: var(--padding-2xs);
}

.p-xs {
    padding: var(--padding-xs);
}

.p-sm {
    padding: var(--padding-sm);
}

.p-md {
    padding: var(--padding-md);
}

.p-lg {
    padding: var(--padding-lg);
}

.p-xl {
    padding: var(--padding-xl);
}

.p-2xl {
    padding: var(--padding-2xl);
}

.p-3xl {
    padding: var(--padding-3xl);
}

.p-4xl {
    padding: var(--padding-4xl);
}

.p-5xl {
    padding: var(--padding-5xl);
}

.p-6xl {
    padding: var(--padding-6xl);
}


.pt-3xs {
    padding-block-start: var(--padding-3xs);
}

.pt-2xs {
    padding-block-start: var(--padding-2xs);
}

.pt-xs {
    padding-block-start: var(--padding-xs);
}

.pt-sm {
    padding-block-start: var(--padding-sm);
}

.pt-md {
    padding-block-start: var(--padding-md);
}

.pt-lg {
    padding-block-start: var(--padding-lg);
}

.pt-xl {
    padding-block-start: var(--padding-xl);
}

.pt-2xl {
    padding-block-start: var(--padding-2xl);
}

.pt-3xl {
    padding-block-start: var(--padding-3xl);
}

.pt-4xl {
    padding-block-start: var(--padding-4xl);
}

.pt-5xl {
    padding-block-start: var(--padding-5xl);
}

.pt-6xl {
    padding-block-start: var(--padding-6xl);
}


.pb-3xs {
    padding-block-end: var(--padding-3xs);
}

.pb-2xs {
    padding-block-end: var(--padding-2xs);
}

.pb-xs {
    padding-block-end: var(--padding-xs);
}

.pb-sm {
    padding-block-end: var(--padding-sm);
}

.pb-md {
    padding-block-end: var(--padding-md);
}

.pb-lg {
    padding-block-end: var(--padding-lg);
}

.pb-xl {
    padding-block-end: var(--padding-xl);
}

.pb-2xl {
    padding-block-end: var(--padding-2xl);
}

.pb-3xl {
    padding-block-end: var(--padding-3xl);
}

.pb-4xl {
    padding-block-end: var(--padding-4xl);
}

.pb-5xl {
    padding-block-end: var(--padding-5xl);
}

.pb-6xl {
    padding-block-end: var(--padding-6xl);
}


.pl-3xs {
    padding-inline-start: var(--padding-3xs);
}

.pl-2xs {
    padding-inline-start: var(--padding-2xs);
}

.pl-xs {
    padding-inline-start: var(--padding-xs);
}

.pl-sm {
    padding-inline-start: var(--padding-sm);
}

.pl-md {
    padding-inline-start: var(--padding-md);
}

.pl-lg {
    padding-inline-start: var(--padding-lg);
}

.pl-xl {
    padding-inline-start: var(--padding-xl);
}

.pl-2xl {
    padding-inline-start: var(--padding-2xl);
}

.pl-3xl {
    padding-inline-start: var(--padding-3xl);
}

.pl-4xl {
    padding-inline-start: var(--padding-4xl);
}

.pl-5xl {
    padding-inline-start: var(--padding-5xl);
}

.pl-6xl {
    padding-inline-start: var(--padding-6xl);
}


.pr-3xs {
    padding-inline-end: var(--padding-3xs);
}

.pr-2xs {
    padding-inline-end: var(--padding-2xs);
}

.pr-xs {
    padding-inline-end: var(--padding-xs);
}

.pr-sm {
    padding-inline-end: var(--padding-sm);
}

.pr-md {
    padding-inline-end: var(--padding-md);
}

.pr-lg {
    padding-inline-end: var(--padding-lg);
}

.pr-xl {
    padding-inline-end: var(--padding-xl);
}

.pr-2xl {
    padding-inline-end: var(--padding-2xl);
}

.pr-3xl {
    padding-inline-end: var(--padding-3xl);
}

.pr-4xl {
    padding-inline-end: var(--padding-4xl);
}

.pr-5xl {
    padding-inline-end: var(--padding-5xl);
}

.pr-6xl {
    padding-inline-end: var(--padding-6xl);
}


.px-3xs {
    padding-inline: var(--padding-3xs);
}

.px-2xs {
    padding-inline: var(--padding-2xs);
}

.px-xs {
    padding-inline: var(--padding-xs);
}

.px-sm {
    padding-inline: var(--padding-sm);
}

.px-md {
    padding-inline: var(--padding-md);
}

.px-lg {
    padding-inline: var(--padding-lg);
}

.px-xl {
    padding-inline: var(--padding-xl);
}

.px-2xl {
    padding-inline: var(--padding-2xl);
}

.px-3xl {
    padding-inline: var(--padding-3xl);
}

.px-4xl {
    padding-inline: var(--padding-4xl);
}

.px-5xl {
    padding-inline: var(--padding-5xl);
}

.px-6xl {
    padding-inline: var(--padding-6xl);
}


.py-3xs {
    padding-block: var(--padding-3xs);
}

.py-2xs {
    padding-block: var(--padding-2xs);
}

.py-xs {
    padding-block: var(--padding-xs);
}

.py-sm {
    padding-block: var(--padding-sm);
}

.py-md {
    padding-block: var(--padding-md);
}

.py-lg {
    padding-block: var(--padding-lg);
}

.py-xl {
    padding-block: var(--padding-xl);
}

.py-2xl {
    padding-block: var(--padding-2xl);
}

.py-3xl {
    padding-block: var(--padding-3xl);
}

.py-4xl {
    padding-block: var(--padding-4xl);
}

.py-5xl {
    padding-block: var(--padding-5xl);
}

.py-6xl {
    padding-block: var(--padding-6xl);
}


.m-0 {
    margin: 0;
}

.m-3xs {
    margin: var(--margin-3xs);
}

.m-2xs {
    margin: var(--margin-2xs);
}

.m-xs {
    margin: var(--margin-xs);
}

.m-sm {
    margin: var(--margin-sm);
}

.m-md {
    margin: var(--margin-md);
}

.m-lg {
    margin: var(--margin-lg);
}

.m-xl {
    margin: var(--margin-xl);
}

.m-2xl {
    margin: var(--margin-2xl);
}

.m-3xl {
    margin: var(--margin-3xl);
}

.m-4xl {
    margin: var(--margin-4xl);
}

.m-5xl {
    margin: var(--margin-5xl);
}

.m-6xl {
    margin: var(--margin-6xl);
}


.mt-3xs {
    margin-block-start: var(--margin-3xs);
}

.mt-2xs {
    margin-block-start: var(--margin-2xs);
}

.mt-xs {
    margin-block-start: var(--margin-xs);
}

.mt-sm {
    margin-block-start: var(--margin-sm);
}

.mt-md {
    margin-block-start: var(--margin-md);
}

.mt-lg {
    margin-block-start: var(--margin-lg);
}

.mt-xl {
    margin-block-start: var(--margin-xl);
}

.mt-2xl {
    margin-block-start: var(--margin-2xl);
}

.mt-3xl {
    margin-block-start: var(--margin-3xl);
}

.mt-4xl {
    margin-block-start: var(--margin-4xl);
}

.mt-5xl {
    margin-block-start: var(--margin-5xl);
}

.mt-6xl {
    margin-block-start: var(--margin-6xl);
}


.mb-3xs {
    margin-block-end: var(--margin-3xs);
}

.mb-2xs {
    margin-block-end: var(--margin-2xs);
}

.mb-xs {
    margin-block-end: var(--margin-xs);
}

.mb-sm {
    margin-block-end: var(--margin-sm);
}

.mb-md {
    margin-block-end: var(--margin-md);
}

.mb-lg {
    margin-block-end: var(--margin-lg);
}

.mb-xl {
    margin-block-end: var(--margin-xl);
}

.mb-2xl {
    margin-block-end: var(--margin-2xl);
}

.mb-3xl {
    margin-block-end: var(--margin-3xl);
}

.mb-4xl {
    margin-block-end: var(--margin-4xl);
}

.mb-5xl {
    margin-block-end: var(--margin-5xl);
}

.mb-6xl {
    margin-block-end: var(--margin-6xl);
}


.ml-3xs {
    margin-inline-start: var(--margin-3xs);
}

.ml-2xs {
    margin-inline-start: var(--margin-2xs);
}

.ml-xs {
    margin-inline-start: var(--margin-xs);
}

.ml-sm {
    margin-inline-start: var(--margin-sm);
}

.ml-md {
    margin-inline-start: var(--margin-md);
}

.ml-lg {
    margin-inline-start: var(--margin-lg);
}

.ml-xl {
    margin-inline-start: var(--margin-xl);
}

.ml-2xl {
    margin-inline-start: var(--margin-2xl);
}

.ml-3xl {
    margin-inline-start: var(--margin-3xl);
}

.ml-4xl {
    margin-inline-start: var(--margin-4xl);
}

.ml-5xl {
    margin-inline-start: var(--margin-5xl);
}

.ml-6xl {
    margin-inline-start: var(--margin-6xl);
}


.mr-3xs {
    margin-inline-end: var(--margin-3xs);
}

.mr-2xs {
    margin-inline-end: var(--margin-2xs);
}

.mr-xs {
    margin-inline-end: var(--margin-xs);
}

.mr-sm {
    margin-inline-end: var(--margin-sm);
}

.mr-md {
    margin-inline-end: var(--margin-md);
}

.mr-lg {
    margin-inline-end: var(--margin-lg);
}

.mr-xl {
    margin-inline-end: var(--margin-xl);
}

.mr-2xl {
    margin-inline-end: var(--margin-2xl);
}

.mr-3xl {
    margin-inline-end: var(--margin-3xl);
}

.mr-4xl {
    margin-inline-end: var(--margin-4xl);
}

.mr-5xl {
    margin-inline-end: var(--margin-5xl);
}

.mr-6xl {
    margin-inline-end: var(--margin-6xl);
}


.mx-3xs {
    margin-inline: var(--margin-3xs);
}

.mx-2xs {
    margin-inline: var(--margin-2xs);
}

.mx-xs {
    margin-inline: var(--margin-xs);
}

.mx-sm {
    margin-inline: var(--margin-sm);
}

.mx-md {
    margin-inline: var(--margin-md);
}

.mx-lg {
    margin-inline: var(--margin-lg);
}

.mx-xl {
    margin-inline: var(--margin-xl);
}

.mx-2xl {
    margin-inline: var(--margin-2xl);
}

.mx-3xl {
    margin-inline: var(--margin-3xl);
}

.mx-4xl {
    margin-inline: var(--margin-4xl);
}

.mx-5xl {
    margin-inline: var(--margin-5xl);
}

.mx-6xl {
    margin-inline: var(--margin-6xl);
}


.my-3xs {
    margin-block: var(--margin-3xs);
}

.my-2xs {
    margin-block: var(--margin-2xs);
}

.my-xs {
    margin-block: var(--margin-xs);
}

.my-sm {
    margin-block: var(--margin-sm);
}

.my-md {
    margin-block: var(--margin-md);
}

.my-lg {
    margin-block: var(--margin-lg);
}

.my-xl {
    margin-block: var(--margin-xl);
}

.my-2xl {
    margin-block: var(--margin-2xl);
}

.my-3xl {
    margin-block: var(--margin-3xl);
}

.my-4xl {
    margin-block: var(--margin-4xl);
}

.my-5xl {
    margin-block: var(--margin-5xl);
}

.my-6xl {
    margin-block: var(--margin-6xl);
}

.mb-0 {
    margin-block-end: 0;
}


.radius-xs {
    border-radius: var(--border-radius-xs);
}

.radius-sm {
    border-radius: var(--border-radius-sm);
}

.radius-md {
    border-radius: var(--border-radius-md);
}

.radius-50 {
    border-radius: var(--border-radius-50);
}

.radius-lg {
    border-radius: var(--border-radius-lg);
}




@media (min-width: 600px) {
    .sm\:col-span-2 {
        grid-column: span 2 / span 2;
    }


    .sm\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .sm\:block {
        display: block;
    }

    .sm\:flex {
        display: flex;
    }

    sm\:hidden {
        display: none;
    }

    .sm\:grid {
        display: grid;
    }

    .sm\:w-auto {
        width: auto;
    }

    .sm\:auto-cols-2 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop)) / 2);
    }

    .sm\:auto-cols-3 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 2) / 3);
    }

    .sm\:grid-cols-2 {
        /*The minimum size of an fr unit is auto. Grid then looks at the min-content size of the item.
        If the item has a size (you’ve given it a width) or has something in it with a size such as an image,
        the min-content size might be much bigger than the share of available space you think 1fr will give you.
        It’s easy to think of 1fr as being "one part of the space in the grid container" when it is really one part of the space left over.
        If there is space to grow then the tracks grow from that min-content size assigning space.
        Using minmax is the best thing to do if you want to forcibly have equal width tracks*/
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .sm\:flex-wrap {
        flex-wrap: wrap;
    }

    .sm\:gap-x-theme {
        column-gap: var(--resource-list-column-gap-desktop);
    }

    .sm\:gap-y-8 {
        row-gap: calc(8 * var(--space-unit));
    }

    .sm\:text-end {
        text-align: end;
    }
}

@media (min-width: 769px) {
    .md\:gap-lg {
        gap: var(--gap-lg);
    }

    .md\:col-span-1 {
        grid-column: span 1 / span 1;
    }

    .md\:col-span-full {
        grid-column: 1 / -1;
    }

    .md\:mb-0 {
        margin-bottom: 0;
    }
    .md\:mt-0 {
        margin-top: 0;
    }

    .md\:mb-12 {
        margin-bottom: calc(12 * var(--space-unit));
    }

    .md\:mb-14 {
        margin-bottom: calc(14 * var(--space-unit));
    }

    .md\:mb-6 {
        margin-bottom: calc(6 * var(--space-unit));
    }

    .md\:mb-8 {
        margin-bottom: calc(8 * var(--space-unit));
    }

    .md\:mr-2 {
        margin-right: calc(2 * var(--space-unit));
    }

    .md\:mt-14 {
        margin-top: calc(14 * var(--space-unit));
    }

    .md\:mt-16 {
        margin-top: calc(16 * var(--space-unit));
    }

    .md\:block {
        display: block;
    }

    .md\:inline {
        display: inline;
    }

    .md\:flex {
        display: flex;
    }

    .md\:inline-flex {
        display: inline-flex;
    }

    .md\:grid {
        display: grid;
    }

    .md\:hidden {
        display: none;
    }

    .md\:h-auto {
        height: auto;
    }

    .md\:w-auto {
        width: auto;
    }

    .md\:auto-cols-2 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop)) / 2);
    }

    .md\:auto-cols-3 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 2) / 3);
    }

    .md\:auto-cols-4 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 3) / 4);
    }

    .md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:flex-row-reverse {
        flex-direction: row-reverse;
    }

    .md\:flex-wrap {
        flex-wrap: wrap;
    }

    .md\:flex-no-wrap {
        flex-wrap: nowrap;
    }

    .md\:items-center {
        align-items: center;
    }

    .md\:gap-y-16 {
        row-gap: calc(16 * var(--space-unit));
    }

    .md\:gap-y-6 {
        row-gap: calc(6 * var(--space-unit));
    }

    .md\:gap-y-8 {
        row-gap: calc(8 * var(--space-unit));
    }

    .md\:gap-x-6 {
        column-gap: calc(6 * var(--space-unit));
    }

    .md\:gap-x-4 {
        column-gap: calc(4 * var(--space-unit));
    }

    .md\:self-start {
        align-self: flex-start;
    }

    .md\:p-8 {
        padding: calc(8 * var(--space-unit));
    }

    .md\:pt-0 {
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    .lg\:col-span-1 {
        grid-column: span 1 / span 1;
    }

    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .lg\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .lg\:col-span-4 {
        grid-column: span 4 / span 4;
    }

    .lg\:col-start-1 {
        grid-column-start: 1;
    }

    .lg\:col-start-2 {
        grid-column-start: 2;
    }

    .lg\:row-start-1 {
        grid-row-start: 1;
    }

    .lg\:mt-0 {
        margin-top: 0;
    }

    .lg\:mt-8 {
        margin-top: calc(8 * var(--space-unit));
    }

    .lg\:block {
        display: block;
    }

    .lg\:hidden {
        display: none;
    }


    .lg\:auto-cols-3 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 2) / 3);
    }

    .lg\:auto-cols-4 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 3) / 4);
    }

    .lg\:auto-cols-5 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 4) / 5);
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .lg\:overflow-hidden {
        overflow: hidden;
    }
    
    
}

@media (min-width: 1280px) {
    .xl\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .xl\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .xl\:auto-cols-4 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 3) / 4);
    }

    .xl\:auto-cols-5 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 4) / 5);
    }

    .xl\:auto-cols-6 {
        grid-auto-columns: calc((100% - var(--resource-list-column-gap-desktop) * 5) / 6);
    }

    .xl\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .xl\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .xl\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .xl\:grid-cols-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.font-bold {
    font-weight: 700;
}

.font-normal {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.overflow-hidden {
    overflow: hidden;
}

/*This value expands to flex: 1 1 auto*/
.flex-auto {
    flex: auto;
}

.positioning-middle {
    top: 50%;
    transform: translateY(-50%);
}

.no-wrap {
    text-wrap: nowrap;
}

/* background */
.bg, [class^=bg-], [class*=" bg-"] {
    --bg-opacity: 1;
}

.bg-transparent {
    background-color: transparent;
}

.bg-inherit {
    background-color: inherit;
}

.bg-primary-darker {
    background-color: hsla(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l), var(--bg-opacity, 1));
}

.bg-primary-dark {
    background-color: hsla(var(--color-primary-dark-h), var(--color-primary-dark-s), var(--color-primary-dark-l), var(--bg-opacity, 1));
}

.bg-primary {
    background-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), var(--bg-opacity, 1));
}

.bg-primary-light {
    background-color: hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), var(--bg-opacity, 1));
}

.bg-primary-lighter {
    background-color: hsla(var(--color-primary-lighter-h), var(--color-primary-lighter-s), var(--color-primary-lighter-l), var(--bg-opacity, 1));
}

.bg-accent-darker {
    background-color: hsla(var(--color-accent-darker-h), var(--color-accent-darker-s), var(--color-accent-darker-l), var(--bg-opacity, 1));
}

.bg-accent-dark {
    background-color: hsla(var(--color-accent-dark-h), var(--color-accent-dark-s), var(--color-accent-dark-l), var(--bg-opacity, 1));
}

.bg-accent {
    background-color: hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), var(--bg-opacity, 1));
}

.bg-accent-light {
    background-color: hsla(var(--color-accent-light-h), var(--color-accent-light-s), var(--color-accent-light-l), var(--bg-opacity, 1));
}

.bg-accent-lighter {
    background-color: hsla(var(--color-accent-lighter-h), var(--color-accent-lighter-s), var(--color-accent-lighter-l), var(--bg-opacity, 1));
}

.bg-black {
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), var(--bg-opacity, 1));
}

.bg-white {
    background-color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), var(--bg-opacity, 1));
}

.bg-warning-darker {
    background-color: hsla(var(--color-warning-darker-h), var(--color-warning-darker-s), var(--color-warning-darker-l), var(--bg-opacity, 1));
}

.bg-warning-dark {
    background-color: hsla(var(--color-warning-dark-h), var(--color-warning-dark-s), var(--color-warning-dark-l), var(--bg-opacity, 1));
}

.bg-warning {
    background-color: hsla(var(--color-warning-h), var(--color-warning-s), var(--color-warning-l), var(--bg-opacity, 1));
}

.bg-warning-light {
    background-color: hsla(var(--color-warning-light-h), var(--color-warning-light-s), var(--color-warning-light-l), var(--bg-opacity, 1));
}

.bg-warning-lighter {
    background-color: hsla(var(--color-warning-lighter-h), var(--color-warning-lighter-s), var(--color-warning-lighter-l), var(--bg-opacity, 1));
}

.bg-success-darker {
    background-color: hsla(var(--color-success-darker-h), var(--color-success-darker-s), var(--color-success-darker-l), var(--bg-opacity, 1));
}

.bg-success-dark {
    background-color: hsla(var(--color-success-dark-h), var(--color-success-dark-s), var(--color-success-dark-l), var(--bg-opacity, 1));
}

.bg-success {
    background-color: hsla(var(--color-success-h), var(--color-success-s), var(--color-success-l), var(--bg-opacity, 1));
}

.bg-success-light {
    background-color: hsla(var(--color-success-light-h), var(--color-success-light-s), var(--color-success-light-l), var(--bg-opacity, 1));
}

.bg-success-lighter {
    background-color: hsla(var(--color-success-lighter-h), var(--color-success-lighter-s), var(--color-success-lighter-l), var(--bg-opacity, 1));
}

.bg-error-darker {
    background-color: hsla(var(--color-error-darker-h), var(--color-error-darker-s), var(--color-error-darker-l), var(--bg-opacity, 1));
}

.bg-error-dark {
    background-color: hsla(var(--color-error-dark-h), var(--color-error-dark-s), var(--color-error-dark-l), var(--bg-opacity, 1));
}

.bg-error {
    background-color: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), var(--bg-opacity, 1));
}

.bg-error-light {
    background-color: hsla(var(--color-error-light-h), var(--color-error-light-s), var(--color-error-light-l), var(--bg-opacity, 1));
}

.bg-error-lighter {
    background-color: hsla(var(--color-error-lighter-h), var(--color-error-lighter-s), var(--color-error-lighter-l), var(--bg-opacity, 1));
}

.bg-darker {
    background-color: hsla(var(--color-bg-darker-h), var(--color-bg-darker-s), var(--color-bg-darker-l), var(--bg-opacity, 1));
}

.bg-dark {
    background-color: hsla(var(--color-bg-dark-h), var(--color-bg-dark-s), var(--color-bg-dark-l), var(--bg-opacity, 1));
}

.bg {
    background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), var(--bg-opacity, 1));
}

.bg-light {
    background-color: hsla(var(--color-bg-light-h), var(--color-bg-light-s), var(--color-bg-light-l), var(--bg-opacity, 1));
}

.bg-lighter {
    background-color: hsla(var(--color-bg-lighter-h), var(--color-bg-lighter-s), var(--color-bg-lighter-l), var(--bg-opacity, 1));
}

.bg-contrast-lower {
    background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), var(--bg-opacity, 1));
}

.bg-contrast-low {
    background-color: hsla(var(--color-contrast-low-h), var(--color-contrast-low-s), var(--color-contrast-low-l), var(--bg-opacity, 1));
}

.bg-contrast-medium {
    background-color: hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), var(--bg-opacity, 1));
}

.bg-contrast-high {
    background-color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), var(--bg-opacity, 1));
}

.bg-contrast-higher {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--bg-opacity, 1));
}

.bg-opacity-0 {
    --bg-opacity: 0;
}

.bg-opacity-5\% {
    --bg-opacity: 0.05;
}

.bg-opacity-10\% {
    --bg-opacity: 0.1;
}

.bg-opacity-15\% {
    --bg-opacity: 0.15;
}

.bg-opacity-20\% {
    --bg-opacity: 0.2;
}

.bg-opacity-25\% {
    --bg-opacity: 0.25;
}

.bg-opacity-30\% {
    --bg-opacity: 0.3;
}

.bg-opacity-40\% {
    --bg-opacity: 0.4;
}

.bg-opacity-50\% {
    --bg-opacity: 0.5;
}

.bg-opacity-60\% {
    --bg-opacity: 0.6;
}

.bg-opacity-70\% {
    --bg-opacity: 0.7;
}

.bg-opacity-75\% {
    --bg-opacity: 0.75;
}

.bg-opacity-80\% {
    --bg-opacity: 0.8;
}

.bg-opacity-85\% {
    --bg-opacity: 0.85;
}

.bg-opacity-90\% {
    --bg-opacity: 0.9;
}

.bg-opacity-95\% {
    --bg-opacity: 0.95;
}

/* border */
[class^=border-], [class*=" border-"] {
    --border-opacity: 1;
    --border-width: 1px;
    --border-style: solid;
}

.border {
    border: var(--border-width, 1px) var(--border-style, solid) hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity-base, 0.1));
}

.border-top {
    border-top: var(--border-width, 1px) var(--border-style, solid) hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity-base, 0.1));
}

.border-bottom {
    border-bottom: var(--border-width, 1px) var(--border-style, solid) hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity-base, 0.1));
}

.border-left {
    border-left: var(--border-width, 1px) var(--border-style, solid) hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity-base, 0.1));
}

.border-right {
    border-right: var(--border-width, 1px) var(--border-style, solid) hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity-base, 0.1));
}

.border-2 {
    --border-width: 2px;
}

.border-3 {
    --border-width: 3px;
}

.border-4 {
    --border-width: 4px;
}

.border-dotted {
    --border-style: dotted;
}

.border-dashed {
    --border-style: dashed;
}

.border-primary-darker {
    border-color: hsla(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l), var(--border-opacity, 1));
}

.border-primary-dark {
    border-color: hsla(var(--color-primary-dark-h), var(--color-primary-dark-s), var(--color-primary-dark-l), var(--border-opacity, 1));
}

.border-primary {
    border-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), var(--border-opacity, 1));
}

.border-primary-light {
    border-color: hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), var(--border-opacity, 1));
}

.border-primary-lighter {
    border-color: hsla(var(--color-primary-lighter-h), var(--color-primary-lighter-s), var(--color-primary-lighter-l), var(--border-opacity, 1));
}

.border-accent-darker {
    border-color: hsla(var(--color-accent-darker-h), var(--color-accent-darker-s), var(--color-accent-darker-l), var(--border-opacity, 1));
}

.border-accent-dark {
    border-color: hsla(var(--color-accent-dark-h), var(--color-accent-dark-s), var(--color-accent-dark-l), var(--border-opacity, 1));
}

.border-accent {
    border-color: hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), var(--border-opacity, 1));
}

.border-accent-light {
    border-color: hsla(var(--color-accent-light-h), var(--color-accent-light-s), var(--color-accent-light-l), var(--border-opacity, 1));
}

.border-accent-lighter {
    border-color: hsla(var(--color-accent-lighter-h), var(--color-accent-lighter-s), var(--color-accent-lighter-l), var(--border-opacity, 1));
}

.border-black {
    border-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), var(--border-opacity, 1));
}

.border-white {
    border-color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), var(--border-opacity, 1));
}

.border-warning-darker {
    border-color: hsla(var(--color-warning-darker-h), var(--color-warning-darker-s), var(--color-warning-darker-l), var(--border-opacity, 1));
}

.border-warning-dark {
    border-color: hsla(var(--color-warning-dark-h), var(--color-warning-dark-s), var(--color-warning-dark-l), var(--border-opacity, 1));
}

.border-warning {
    border-color: hsla(var(--color-warning-h), var(--color-warning-s), var(--color-warning-l), var(--border-opacity, 1));
}

.border-warning-light {
    border-color: hsla(var(--color-warning-light-h), var(--color-warning-light-s), var(--color-warning-light-l), var(--border-opacity, 1));
}

.border-warning-lighter {
    border-color: hsla(var(--color-warning-lighter-h), var(--color-warning-lighter-s), var(--color-warning-lighter-l), var(--border-opacity, 1));
}

.border-success-darker {
    border-color: hsla(var(--color-success-darker-h), var(--color-success-darker-s), var(--color-success-darker-l), var(--border-opacity, 1));
}

.border-success-dark {
    border-color: hsla(var(--color-success-dark-h), var(--color-success-dark-s), var(--color-success-dark-l), var(--border-opacity, 1));
}

.border-success {
    border-color: hsla(var(--color-success-h), var(--color-success-s), var(--color-success-l), var(--border-opacity, 1));
}

.border-success-light {
    border-color: hsla(var(--color-success-light-h), var(--color-success-light-s), var(--color-success-light-l), var(--border-opacity, 1));
}

.border-success-lighter {
    border-color: hsla(var(--color-success-lighter-h), var(--color-success-lighter-s), var(--color-success-lighter-l), var(--border-opacity, 1));
}

.border-error-darker {
    border-color: hsla(var(--color-error-darker-h), var(--color-error-darker-s), var(--color-error-darker-l), var(--border-opacity, 1));
}

.border-error-dark {
    border-color: hsla(var(--color-error-dark-h), var(--color-error-dark-s), var(--color-error-dark-l), var(--border-opacity, 1));
}

.border-error {
    border-color: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), var(--border-opacity, 1));
}

.border-error-light {
    border-color: hsla(var(--color-error-light-h), var(--color-error-light-s), var(--color-error-light-l), var(--border-opacity, 1));
}

.border-error-lighter {
    border-color: hsla(var(--color-error-lighter-h), var(--color-error-lighter-s), var(--color-error-lighter-l), var(--border-opacity, 1));
}

.border-bg-darker {
    border-color: hsla(var(--color-bg-darker-h), var(--color-bg-darker-s), var(--color-bg-darker-l), var(--border-opacity, 1));
}

.border-bg-dark {
    border-color: hsla(var(--color-bg-dark-h), var(--color-bg-dark-s), var(--color-bg-dark-l), var(--border-opacity, 1));
}

.border-bg {
    border-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), var(--border-opacity, 1));
}

.border-bg-light {
    border-color: hsla(var(--color-bg-light-h), var(--color-bg-light-s), var(--color-bg-light-l), var(--border-opacity, 1));
}

.border-bg-lighter {
    border-color: hsla(var(--color-bg-lighter-h), var(--color-bg-lighter-s), var(--color-bg-lighter-l), var(--border-opacity, 1));
}

.border-contrast-lower {
    border-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), var(--border-opacity, 1));
}

.border-contrast-low {
    border-color: hsla(var(--color-contrast-low-h), var(--color-contrast-low-s), var(--color-contrast-low-l), var(--border-opacity, 1));
}

.border-contrast-medium {
    border-color: hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), var(--border-opacity, 1));
}

.border-contrast-high {
    border-color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), var(--border-opacity, 1));
}

.border-contrast-higher {
    border-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--border-opacity, 1));
}

.border-opacity-0 {
    --border-opacity: 0;
}

.border-opacity-5\% {
    --border-opacity: 0.05;
}

.border-opacity-10\% {
    --border-opacity: 0.1;
}

.border-opacity-15\% {
    --border-opacity: 0.15;
}

.border-opacity-20\% {
    --border-opacity: 0.2;
}

.border-opacity-25\% {
    --border-opacity: 0.25;
}

.border-opacity-30\% {
    --border-opacity: 0.3;
}

.border-opacity-40\% {
    --border-opacity: 0.4;
}

.border-opacity-50\% {
    --border-opacity: 0.5;
}

.border-opacity-60\% {
    --border-opacity: 0.6;
}

.border-opacity-70\% {
    --border-opacity: 0.7;
}

.border-opacity-75\% {
    --border-opacity: 0.75;
}

.border-opacity-80\% {
    --border-opacity: 0.8;
}

.border-opacity-85\% {
    --border-opacity: 0.85;
}

.border-opacity-90\% {
    --border-opacity: 0.9;
}

.border-opacity-95\% {
    --border-opacity: 0.95;
}


/* colors */
:root, .color-scheme-1 {
    --color-primary-darker-h: 250;
    --color-primary-darker-s: 84%;
    --color-primary-darker-l: 38%;
    --color-primary-darker: hsl(var(--color-primary-darker-h), var(--color-primary-darker-s), var(--color-primary-darker-l));
    --color-primary-dark-h: 250;
    --color-primary-dark-s: 84%;
    --color-primary-dark-l: 46%;
    --color-primary-dark: hsl(var(--color-primary-dark-h), var(--color-primary-dark-s), var(--color-primary-dark-l));
    --color-primary-h: 250;
    --color-primary-s: 84%;
    --color-primary-l: 54%;
    --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
    --color-primary-light-h: 250;
    --color-primary-light-s: 84%;
    --color-primary-light-l: 60%;
    --color-primary-light: hsl(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l));
    --color-primary-lighter-h: 250;
    --color-primary-lighter-s: 84%;
    --color-primary-lighter-l: 67%;
    --color-primary-lighter: hsl(var(--color-primary-lighter-h), var(--color-primary-lighter-s), var(--color-primary-lighter-l));
    --color-accent-darker-h: 342;
    --color-accent-darker-s: 89%;
    --color-accent-darker-l: 38%;
    --color-accent-darker: hsl(var(--color-accent-darker-h), var(--color-accent-darker-s), var(--color-accent-darker-l));
    --color-accent-dark-h: 342;
    --color-accent-dark-s: 89%;
    --color-accent-dark-l: 43%;
    --color-accent-dark: hsl(var(--color-accent-dark-h), var(--color-accent-dark-s), var(--color-accent-dark-l));
    --color-accent-h: 342;
    --color-accent-s: 89%;
    --color-accent-l: 48%;
    --color-accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
    --color-accent-light-h: 342;
    --color-accent-light-s: 89%;
    --color-accent-light-l: 56%;
    --color-accent-light: hsl(var(--color-accent-light-h), var(--color-accent-light-s), var(--color-accent-light-l));
    --color-accent-lighter-h: 342;
    --color-accent-lighter-s: 89%;
    --color-accent-lighter-l: 62%;
    --color-accent-lighter: hsl(var(--color-accent-lighter-h), var(--color-accent-lighter-s), var(--color-accent-lighter-l));
    --color-black-h: 230;
    --color-black-s: 13%;
    --color-black-l: 9%;
    --color-black: hsl(var(--color-black-h), var(--color-black-s), var(--color-black-l));
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-white: hsl(var(--color-white-h), var(--color-white-s), var(--color-white-l));
    --color-warning-darker-h: 35;
    --color-warning-darker-s: 79%;
    --color-warning-darker-l: 48%;
    --color-warning-darker: hsl(var(--color-warning-darker-h), var(--color-warning-darker-s), var(--color-warning-darker-l));
    --color-warning-dark-h: 35;
    --color-warning-dark-s: 79%;
    --color-warning-dark-l: 56%;
    --color-warning-dark: hsl(var(--color-warning-dark-h), var(--color-warning-dark-s), var(--color-warning-dark-l));
    --color-warning-h: 35;
    --color-warning-s: 79%;
    --color-warning-l: 66%;
    --color-warning: hsl(var(--color-warning-h), var(--color-warning-s), var(--color-warning-l));
    --color-warning-light-h: 35;
    --color-warning-light-s: 79%;
    --color-warning-light-l: 74%;
    --color-warning-light: hsl(var(--color-warning-light-h), var(--color-warning-light-s), var(--color-warning-light-l));
    --color-warning-lighter-h: 35;
    --color-warning-lighter-s: 79%;
    --color-warning-lighter-l: 82%;
    --color-warning-lighter: hsl(var(--color-warning-lighter-h), var(--color-warning-lighter-s), var(--color-warning-lighter-l));
    --color-success-darker-h: 170;
    --color-success-darker-s: 78%;
    --color-success-darker-l: 26%;
    --color-success-darker: hsl(var(--color-success-darker-h), var(--color-success-darker-s), var(--color-success-darker-l));
    --color-success-dark-h: 170;
    --color-success-dark-s: 78%;
    --color-success-dark-l: 31%;
    --color-success-dark: hsl(var(--color-success-dark-h), var(--color-success-dark-s), var(--color-success-dark-l));
    --color-success-h: 170;
    --color-success-s: 78%;
    --color-success-l: 36%;
    --color-success: hsl(var(--color-success-h), var(--color-success-s), var(--color-success-l));
    --color-success-light-h: 170;
    --color-success-light-s: 78%;
    --color-success-light-l: 42%;
    --color-success-light: hsl(var(--color-success-light-h), var(--color-success-light-s), var(--color-success-light-l));
    --color-success-lighter-h: 170;
    --color-success-lighter-s: 78%;
    --color-success-lighter-l: 47%;
    --color-success-lighter: hsl(var(--color-success-lighter-h), var(--color-success-lighter-s), var(--color-success-lighter-l));
    --color-error-darker-h: 342;
    --color-error-darker-s: 89%;
    --color-error-darker-l: 38%;
    --color-error-darker: hsl(var(--color-error-darker-h), var(--color-error-darker-s), var(--color-error-darker-l));
    --color-error-dark-h: 342;
    --color-error-dark-s: 89%;
    --color-error-dark-l: 43%;
    --color-error-dark: hsl(var(--color-error-dark-h), var(--color-error-dark-s), var(--color-error-dark-l));
    --color-error-h: 342;
    --color-error-s: 89%;
    --color-error-l: 48%;
    --color-error: hsl(var(--color-error-h), var(--color-error-s), var(--color-error-l));
    --color-error-light-h: 342;
    --color-error-light-s: 89%;
    --color-error-light-l: 56%;
    --color-error-light: hsl(var(--color-error-light-h), var(--color-error-light-s), var(--color-error-light-l));
    --color-error-lighter-h: 342;
    --color-error-lighter-s: 89%;
    --color-error-lighter-l: 62%;
    --color-error-lighter: hsl(var(--color-error-lighter-h), var(--color-error-lighter-s), var(--color-error-lighter-l));
    --color-bg-darker-h: 240;
    --color-bg-darker-s: 4%;
    --color-bg-darker-l: 90%;
    --color-bg-darker: hsl(var(--color-bg-darker-h), var(--color-bg-darker-s), var(--color-bg-darker-l));
    --color-bg-dark-h: 240;
    --color-bg-dark-s: 4%;
    --color-bg-dark-l: 95%;
    --color-bg-dark: hsl(var(--color-bg-dark-h), var(--color-bg-dark-s), var(--color-bg-dark-l));
    --color-bg-h: 0;
    --color-bg-s: 0%;
    --color-bg-l: 100%;
    --color-bg: hsl(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l));
    --color-bg-light-h: 0;
    --color-bg-light-s: 0%;
    --color-bg-light-l: 100%;
    --color-bg-light: hsl(var(--color-bg-light-h), var(--color-bg-light-s), var(--color-bg-light-l));
    --color-bg-lighter-h: 0;
    --color-bg-lighter-s: 0%;
    --color-bg-lighter-l: 100%;
    --color-bg-lighter: hsl(var(--color-bg-lighter-h), var(--color-bg-lighter-s), var(--color-bg-lighter-l));
    --color-contrast-lower-h: 240;
    --color-contrast-lower-s: 4%;
    --color-contrast-lower-l: 85%;
    --color-contrast-lower: hsl(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l));
    --color-contrast-low-h: 240;
    --color-contrast-low-s: 4%;
    --color-contrast-low-l: 65%;
    --color-contrast-low: hsl(var(--color-contrast-low-h), var(--color-contrast-low-s), var(--color-contrast-low-l));
    --color-contrast-medium-h: 225;
    --color-contrast-medium-s: 4%;
    --color-contrast-medium-l: 47%;
    --color-contrast-medium: hsl(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l));
    --color-contrast-high-h: 230;
    --color-contrast-high-s: 7%;
    --color-contrast-high-l: 23%;
    --color-contrast-high: hsl(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l));
    --color-contrast-higher-h: 230;
    --color-contrast-higher-s: 13%;
    --color-contrast-higher-l: 9%;
    --color-contrast-higher: hsl(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l));
}